
										<div class="row">
											<div class="col-4 " >
												<h5>{{title}}</h5>
											</div>
									 		<div class="col-5 " >
												{{statusMessage}}
											</div>	
										
									
										<div class="col-3 text-right">
											<a href="{{URL}}/admin/escolaridades">
												<button type="button" class="btn btn-warning btn-round btn-sm " rel="tooltip" title="Voltar">
													<i class="material-icons" style="font-size: 30px;">reply</i>
												</button>
											</a>
										</div>
									</div>

									<form method="post">
										<div >
											<label>Nome</label>
											<input type="text"name="nome" class="form-control-pessoal" value="{{nome}}" required>
										</div>
										<div class="form-group">
											<button class="btn btn-facebook btn-sm btn-round" type="submit" rel="tooltip" title="Salvar">
										     	<i class="material-icons" style="font-size: 30px;">save</i>
										     </button>
										</div>
									
									</form>


