<style>
html{margin:30px 40px 5px 40px;
	font-family: Arial, Helvetica, sans-serif;} /*cima direita */

	.item{
		font-size:14px;
		font-weight:bold;
		text-transform: uppercase;
		}
		
 fieldset{
		   	height: 10px;
		   	padding-top: 10px
		   }
		   
		input[type="checkbox"]{
    
   height: 12;
    
}

</style>

<table border="1" style="font-size: 11px;font-family: Arial, Helvetica, sans-serif; border-collapse: collapse; width:100%">
	<tr>
		<td align="left" style="width:10%"><span><img width=180 src="{{URL}}/resources/assets/img/preparasantana.png" class="mb-0"   alt="LogoSUS" ></span></td>
		<td align="center" style="font-size: 16px;font-weight: bold;">CURSO PREPARATÓRIO GRATUITO PREPARA SANTANA</td>
	</tr>
	<tr>
		<td colspan="2" align="center" style="font-size: 14px;font-weight: bold; height:3%">RELAÇÃO DE ALUNOS</td>
	</tr>
</table>

<table border="1" style="font-size: 11px;font-family: Arial, Helvetica, sans-serif; border-collapse: collapse; width:100%">
	
	<tr>
	<td align="center" style="background: lightgray; color: black;font-size: 12px;font-weight: bold;">ORD</td>
		<td align="center" style="background: lightgray; color: black;font-size: 12px;font-weight: bold;">MATR.</td>
		<td align="center" style="background: lightgray; color: black;font-size: 12px;font-weight: bold;">NOME</td>
		<td align="center" style="background: lightgray; color: black;font-size: 12px;font-weight: bold;">ENDEREÇO</td>
		<td align="center" style="background: lightgray; color: black;font-size: 12px;font-weight: bold;">ESCOLARIDADE</td>
		<td align="center" style="background: lightgray; color: black;font-size: 12px;font-weight: bold;">SEXO</td>
		<td align="center" style="background: lightgray; color: black;font-size: 12px;font-weight: bold; width:60px">DATA NASC.</td>
		<td align="center" style="background: lightgray; color: black;font-size: 12px;font-weight: bold; width:60px">DATA CADAS.</td>
		<td align="center" style="background: lightgray; color: black;font-size: 12px;font-weight: bold; width:85px">FONE</td>
		<td align="center" style="background: lightgray; color: black;font-size: 12px;font-weight: bold;">CPF</td>
		<td align="center" style="background: lightgray; color: black;font-size: 12px;font-weight: bold;">TURMA</td>
		<td align="center" style="background: lightgray; color: black;font-size: 12px;font-weight: bold;">STATUS</td>
	</tr>
	
		{{itens}}
	
	
	
</table>


















 