<style>
html{margin:30px 40px 5px 40px;
	font-family: Arial, Helvetica, sans-serif;} /*cima direita */

	.item{
		font-size:14px;
		font-weight:bold;
		text-transform: uppercase;
		}
		
 fieldset{
		   	height: 10px;
		   	padding-top: 10px
		   }
		   
	input[type="checkbox"]{
	   height: 12;
	}

		.report-heading{
			text-align: center;
			text-transform: uppercase;
			margin-bottom: 14px;
		}

		.report-logo{
			display: block;
			width: 48px;
			max-height: 42px;
			margin: 0 auto 5px auto;
		}

		.report-title-main,
		.report-title-sub{
			font-size: 10px;
			font-weight: normal;
			line-height: 1.12;
		}

		.report-title-sub{
			margin-top: 1px;
		}

		.report-page-number{
			position: fixed;
			right: 0;
			bottom: -18px;
			color: #57606a;
			font-size: 9px;
		}

		.report-page-number:after{
			content: "Página " counter(page) " de " counter(pages);
		}

		</style>

		<div class="report-page-number"></div>

			<div class="report-heading">
				<img src="{{logoRelatorio}}" class="report-logo" alt="Logotipo do relatório">
				{{tituloRelatorio}}
		</div>

		<table border="1" style="font-size: 11px;font-family: Arial, Helvetica, sans-serif; border-collapse: collapse; width:100%">
			<tr>
				<td align="center" style="font-size: 12px;font-weight: bold; height:3%">RELAÇÃO DE ALUNOS</td>
		</tr>
	</table>

<table border="1" style="font-size: 11px;font-family: Arial, Helvetica, sans-serif; border-collapse: collapse; width:100%">
	
	<tr>
	<td align="center" style="background: lightgray; color: black;font-size: 12px;font-weight: bold; width:40px">ORD</td>
		<td align="center" style="background: lightgray; color: black;font-size: 12px;font-weight: bold; width:70px">MATR.</td>
		<td align="center" style="background: lightgray; color: black;font-size: 12px;font-weight: bold;">NOME</td>
		<td align="center" style="background: lightgray; color: black;font-size: 12px;font-weight: bold;">ENDEREÇO</td>
		<td align="center" style="background: lightgray; color: black;font-size: 12px;font-weight: bold; width:100px">ESCOLARIDADE</td>
		<td align="center" style="background: lightgray; color: black;font-size: 12px;font-weight: bold; width:40px">SEXO</td>
		<td align="center" style="background: lightgray; color: black;font-size: 12px;font-weight: bold; width:60px">DATA NASC.</td>
		<td align="center" style="background: lightgray; color: black;font-size: 12px;font-weight: bold; width:60px">DATA CADAS.</td>
		<td align="center" style="background: lightgray; color: black;font-size: 12px;font-weight: bold; width:85px">FONE</td>
		<td align="center" style="background: lightgray; color: black;font-size: 12px;font-weight: bold; width:80px">CPF</td>
		<td align="center" style="background: lightgray; color: black;font-size: 12px;font-weight: bold;width:60px">TURMA</td>
		<td align="center" style="background: lightgray; color: black;font-size: 12px;font-weight: bold;width:60px">STATUS</td>
	</tr>
	
		{{itens}}
	
	
	
</table>









