.rounded-circle,
.avatar.rounded-circle img {
  border-radius: 50% !important;
}

.avatar {
  color: #fff;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 1rem;
  border-radius: 50rem;
  height: 48px;
  width: 48px;
  transition: all .2s ease-in-out;
}

.avatar img {
  width: 100%;
}

.avatar+.avatar-content {
  display: inline-block;
  margin-left: 0.75rem;
}

.avatar.avatar-raised {
  margin-top: -24px;
}

.avatar.avatar-scale-up:hover {
  transform: scale(1.2);
}

.active .avatar.avatar-scale-up {
  transform: scale(1.2);
}

.avatar-xxl {
  width: 200px !important;
  height: 200px !important;
}

.avatar-xxl.avatar-raised {
  margin-top: -55px;
}

.avatar-xl {
  width: 74px !important;
  height: 74px !important;
}

.avatar-xl.avatar-raised {
  margin-top: -37px;
}

.avatar-lg {
  width: 58px !important;
  height: 58px !important;
  font-size: 0.875rem;
}

.avatar-lg.avatar-raised {
  margin-top: -29px;
}

.avatar-sm {
  width: 36px !important;
  height: 36px !important;
  font-size: 0.875rem;
}

.avatar-sm.avatar-raised {
  margin-top: -18px;
}

.avatar-xs {
  width: 24px !important;
  height: 24px !important;
  font-size: 0.75rem;
}

.avatar-xs.avatar-raised {
  margin-top: -12px;
}

.avatar-group .avatar {
  position: relative;
  z-index: 2;
  border: 2px solid #fff;
}

.avatar-group .avatar:hover {
  z-index: 3;
}

.avatar-group .avatar+.avatar {
  margin-left: -1rem;
}

.navbar-vertical .navbar-nav .nav-link .avatar {
  width: 1.875rem;
  height: 1.875rem;
}

.rtl .avatar-group .avatar+.avatar {
  margin-left: 0;
  margin-right: -1rem;
}


h7,
.h7 {
  margin-top: 0;
  margin-bottom: 0.5rem;
  font-weight: 400;
  line-height: 1.2;
  color: #344767;
}

h7,
.h7 {
  font-size: 1rem;
}
.dark-version .sidenav.bg-white .collapse .nav-item h7,
.dark-version .sidenav.bg-white .collapse .nav-item .h7 {
  color: #344767 !important;
}

.dark-version h7,
.dark-version .h7,
.dark-version .h7,
.dark-version a:not(.dropdown-item):not(.choices__item):not(.leaflet-control-zoom-in):not(.leaflet-control-zoom-out):not(.btn):not(.nav-link):not(.fixed-plugin-button),
.dark-version .table thead tr th,
.dark-version .kanban-title-board {
  color: #fff !important;
}
h7,
.h7,
.h7 {
  font-size: 1rem;
  line-height: 1.625;
}

h7,
.h7,
.h7 {
  font-weight: 600;
}



/* For desktop: */
.col-data {width: 17%;}
.col-cep {width: 16%;}
.col-cpf {width: 17%;}
.col-turma {width: 17%;}
.col-obs {width: 56%;}
.colfoto {width: 15%;}
.col-nomeAl {width: 82%;}
.col-endProf {width: 52%;}
.col-funcao {width: 36%;}
.col-emailProf {width: 47%;}
.colfotoUser {width: 70%;}
.colfotoFreq {width: 100%;}
.col-nomeProf {width: 84.002%;}
.pt-fotoProf {padding-top: 1rem !important;}
.freqGeralMobile{display: none;}
.freqGeralDesktop{display: inline;}
@media only screen and (max-width: 576px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
  }
  .colfoto {width: 30%;}
  .colfotoUser {width: 30%;}
  .colfotoFreq {width: 70%;}
  .col-nomeProf {width: 100%;}
  .col-funcao {width: 100%;}
  .pt-fotoProf {padding-top: 0rem !important;}
  .freqGeralDesktop{display: none;}
  .freqGeralMobile{display: inline;}
  .h3{font-size:20px;}
}

.borda1{
	 border-width: medium;
  border-style: solid;
  border-color: #00f;
}

.font-weight-light {
  font-weight: 300 !important;
}

.font-weight-lighter {
  font-weight: lighter !important;
}

.font-weight-normal {
  font-weight: 400 !important;
}

.font-weight-bold {
  font-weight: 600 !important;
}

.font-weight-bolder {
  font-weight: 700 !important;
}
.align-baseline {
  vertical-align: baseline !important;
}

.align-top {
  vertical-align: top !important;
}

.align-middle {
  vertical-align: middle !important;
}

.align-bottom {
  vertical-align: bottom !important;
}

.align-text-bottom {
  vertical-align: text-bottom !important;
}

.align-text-top {
  vertical-align: text-top !important;
}
.text-sm {
  line-height: 1.5;
}

.text-xs {
  line-height: 1.25;
}
.text-lg {
  font-size: 1.125rem !important;
}

.text-md {
  font-size: 1rem !important;
}

.text-sm {
  font-size: 0.875rem !important;
}

.text-xs {
  font-size: 0.75rem !important;
}

.text-xxs {
  font-size: 0.65rem !important;
}
.badge {
  display: inline-block;
  padding: 0.55em 0.9em;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.45rem;
}

.badge:empty {
  display: none;
}
.badge {
  text-transform: uppercase;
}

.btn-success.focus,
.btn-success:focus,
.btn.bg-gradient-success.focus,
.btn.bg-gradient-success:focus {
  color: #fff;
}
.btn-success,
.btn.bg-gradient-success {
  color: #fff;
}
.btn-success:hover,
.btn.bg-gradient-success:hover {
  color: #fff;
}
.bg-gradient-success {
  background-image: linear-gradient(195deg, #66BB6A 0%, #43A047 100%);
}
.btn-danger,
.btn.bg-gradient-danger {
  box-shadow: 0 3px 3px 0 rgba(244, 67, 53, 0.15), 0 3px 1px -2px rgba(244, 67, 53, 0.2), 0 1px 5px 0 rgba(244, 67, 53, 0.15);
}
.btn-danger:hover,
.btn.bg-gradient-danger:hover {
  background-color: #F44335;
  border-color: #F44335;
  box-shadow: 0 14px 26px -12px rgba(244, 67, 53, 0.4), 0 4px 23px 0 rgba(244, 67, 53, 0.15), 0 8px 10px -5px rgba(244, 67, 53, 0.2);
}
.btn-danger .btn.bg-outline-danger,
.btn.bg-gradient-danger .btn.bg-outline-danger {
  border: 1px solid #F44335;
}
.btn-danger:not(:disabled):not(.disabled).active,
.btn-danger:not(:disabled):not(.disabled):active,
.show>.btn-danger.dropdown-toggle,
.btn.bg-gradient-danger:not(:disabled):not(.disabled).active,
.btn.bg-gradient-danger:not(:disabled):not(.disabled):active,
.show>.btn.bg-gradient-danger.dropdown-toggle {
  color: color-yiq(#F44335);
  background-color: #F44335;
}
.btn-danger.focus,
.btn-danger:focus,
.btn.bg-gradient-danger.focus,
.btn.bg-gradient-danger:focus {
  color: #fff;
}
.btn-danger,
.btn.bg-gradient-danger {
  color: #fff;
}
.btn-danger:hover,
.btn.bg-gradient-danger:hover {
  color: #fff;
}
.bg-gradient-danger {
  background-image: linear-gradient(195deg, #EF5350 0%, #E53935 100%);
}


.btn-warning,
.btn.bg-gradient-warning {
  box-shadow: 0 3px 3px 0 rgba(251, 140, 0, 0.15), 0 3px 1px -2px rgba(251, 140, 0, 0.2), 0 1px 5px 0 rgba(251, 140, 0, 0.15);
}
.btn-warning:hover,
.btn.bg-gradient-warning:hover {
  background-color: #fb8c00;
  border-color: #fb8c00;
  box-shadow: 0 14px 26px -12px rgba(251, 140, 0, 0.4), 0 4px 23px 0 rgba(251, 140, 0, 0.15), 0 8px 10px -5px rgba(251, 140, 0, 0.2);
}
.btn-warning .btn.bg-outline-warning,
.btn.bg-gradient-warning .btn.bg-outline-warning {
  border: 1px solid #fb8c00;
}
.btn-warning:not(:disabled):not(.disabled).active,
.btn-warning:not(:disabled):not(.disabled):active,
.show>.btn-warning.dropdown-toggle,
.btn.bg-gradient-warning:not(:disabled):not(.disabled).active,
.btn.bg-gradient-warning:not(:disabled):not(.disabled):active,
.show>.btn.bg-gradient-warning.dropdown-toggle {
  color: color-yiq(#fb8c00);
  background-color: #fb8c00;
}
.btn-warning.focus,
.btn-warning:focus,
.btn.bg-gradient-warning.focus,
.btn.bg-gradient-warning:focus {
  color: #fff;
}
.btn-warning,
.btn.bg-gradient-warning {
  color: #fff;
}
.btn-warning:hover,
.btn.bg-gradient-warning:hover {
  color: #fff;
}
.bg-gradient-warning {
  background-image: linear-gradient(195deg, #FFA726 0%, #FB8C00 100%);
}

