
<h5>{{title}}</h5>

<form method="POST" enctype="multipart/form-data" id="myForm">
	<input type="hidden" name="img_val" id="img_val" value="" />
	<input type="hidden" name="matricula" value="{{matricula}}"/>
	<input type="hidden" name="nome" value="{{nome}}"/>
	<input type="hidden" name="opcao" id="opcao" value=""/>
	
</form>
<style>
#target {
		
		background-color:#ffff;
		position:relative;
		height:490px;
		width: 960px;
		
		
	}
	.col-titulo{
		width: 97%;
	}
	.cabecalho{
		position: relative;
	}
	.logocurso{
		position: absolute;
		width: 150px;
	}
	.logopms{
		position: absolute;
		right:0;
		width: 180px;
		padding:5px;
	}
	.logocursocontainer{
		position: absolute;
		top:0;
		width: 100%;
		height:100%;
		right: 0;	
		opacity: 50%;
	}
	.label{
	background-color:#57AF5B; 
	 display: inline-block;
  padding: 0.55em 0.9em;
  font-size: 0.75em;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: 0.45rem;
  text-transform: uppercase;
	}
	.colfotoCarteira{
	width: 20%;
	}
	.colfotoQrcode{
	width: 18%;
	}
	.colcpfCarteira{
	margin-right: 10px;
	width: 47%;
	}
	.coldatacarteira{
	width: 25%;
	
	}
	.prepara{
	 
	font-size: 30px;
	color:#E7B538;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #E7B538;
	}
	.santana{
	
	font-size: 30px;
	color:#fff;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #fff;
	}
	.subtitle{
	 
	font-size: 20px;
	color:#3b8c0c;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #3b8c0c;
	}
	.assinatura{
	position:absolute; top:68%;
	left: 79%
	
	}
</style>
<table>
	<tr>
		<td colspan="2">
			<table width="100%">
				<tr>
					<td>
						<input hidden type="submit" rel="tooltip" title="Visualizar Imagem" value="Visualizar" onclick="capture();" />
						<input type="submit" rel="tooltip" title="Download da Carteira" value="Download" name="imageDown" onclick="captureDown();" />
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>

		<td>
			<div class="col-md-11" id="target">
		     	<img width=400 class="img-fluid logocursocontainer" alt="FotoCursinho" src="{{URL}}/resources/assets/img/preparasantana.png">
				<img width="140" class="assinatura" src="{{URL}}/resources/assets/img/assinaturasousa.png">
				<div class="form-row">
					<div class="col-md-12">
						<div class="form-row">
							<div class="cabecalho col-titulo ml-2 mb-2 pl-2 pr-2 text-center pt-2 mt-2 pb-2" style="border:2px solid;border-radius: 10px">
						
					
								<div class="form-row">
									<div class="colfoto logocurso">
										<img style="border-radius: 10px;" width=400 class="img-fluid" alt="FotoCursinho" src="{{URL}}/resources/assets/img/preparasantana.png">
									</div>
									<div class="col-md-9 pt-0 text-dark" style="padding-left: 180px">
										<label class="h5">Progama Municipal de Cursos Preparatório<br><b class="prepara">PREPARA</b> <b class="santana">SANTANA</b></label>
									</div>
									<div class="logopms ">
										<img width=250 class="img-fluid mb-2" alt="FotoCursinho" src="{{URL}}/resources/assets/img/logopms.png">
									</div>
								</div>
								
							</div>
						</div>
							<div class="row">
								<div class="col-md-12 text-center text-dark font-weight-bold">
								<span class="subtitle ">CARTEIRA DIGITAL DO ESTUDANTE</span>
								</div>
							</div>
					</div>
				</div>
				
				<div class="form-row mt-1 ">
				 <div class="col-md-12">
				  <div class="form-row">
				   <div class="col-titulo ml-2 mb-2 pl-2 pr-2 pt-2 mt-0 pb-2" style="border:2px solid; border-radius: 10px">
				    <div class="row">
					 <div class="colfotoCarteira ml-3">
				      <img style="background-color: #fff; border-radius: 10%" class="img-fluid" alt="FotoAluno" src="{{URL}}/app/Controller/File/files/fotos/{{foto}}">
				      <span class="label mt-1" >Status:</span>
				      <input type="text" class="form-control-pessoal mb-2" id="status" name="status" value="{{status}}" readonly/>
				     </div>
				    
				     
				     <div class="col-md-7 mb-2">
				        <div class="form-row">
				        	<div class="col-md-3 mb-3">
				        		 <span class="label" >Matrícula:</span>
				      			<input type="text" class="form-control-pessoal mb-2" id="nome" name="nome" value="{{matricula}}" readonly/>	
				        	</div>
				    		<div class="col-md-9">
				    		    <span class="label">Nome:</span>
					      		<input type="text" class="form-control-pessoal" id="nome" name="nome" value="{{nome}}" required readonly/>
				    		</div>
				    	</div>
				        <div class="form-row">
				        	<div class="col-md-3 mb-5">
				        	    <span class="label">Turma:</span>
				      			<input type="text" class="form-control-pessoal" id="nome" name="nome" value="{{turma}}" readonly/>	
				        	</div>
				    		<div class="colcpfCarteira ">
				    			<span class="label">CPF:</span>
					      		<input type="text" class="form-control-pessoal" id="nome" name="nome" value="{{cpf}}" required readonly/>
				    		</div>
				    		<div class="coldatacarteira">
				    			<span class="label">Data Nasc.:</span>
					      		<input type="text" class="form-control-pessoal mb-2" id="nome" name="nome" value="{{dataNasc}}" required readonly/>
				    		</div>
				    	</div>
				        <div class="form-row">
				        	<div class="coldatacarteira">
				        		<span class="label">Data Cad.:</span>
				      			<input type="text" class="form-control-pessoal" id="nome" name="nome" value="{{dataCad}}" readonly/>	
				        	</div>
				    		<div class="col-md-9 mb-0">
				    			<span class="label">Mãe:</span>
					      		<input type="text" class="form-control-pessoal" id="nome" name="nome" value="{{mae}}" required readonly/>
				    		</div>
				    	</div>
							
					</div>
				
				    
				    	
				   
				     <div class="mb-2 pl-0 pr-0 colfotoQrcode">
				        
				    			<span class="label ">Qr-Code:</span>
							     <img class="img-fluid " alt="" src="{{URL}}/app/Controller/Admin/carteiras/{{qrcode}}"/>
				    		
				    </div>
				  </div>
				       
				    </div>
				    	</div>
					</div>
				    
				  </div>
				  
				  <!-- Footer -->
				 <div class="form-row pt-3 ">
					 <div class="col-md-12">
						 <div class="form-row">
						 	<div class="col-titulo ml-2 mb-2 text-center" style="border:2px solid; border-radius: 10px">
						 		<label class="text-dark">A autenticidade do documento pode ser conferida em: www.flash380.com/cursinho/aluno</label>
						 	</div>
						 </div>
					 </div>
				 </div>
				  
				  

			</div>
			<div class="row">
				<div class="col-md-11 mt-2 text-light">
					<span>Atenção: se estiver utizando smarthphone, mude a exibição do navegador para computador ou desktop. <a target="_blank" href="https://tecnoblog.net/responde/como-acessar-sites-na-versao-desktop-pelo-celular/">Veja como</a></span>
				</div>
			</div>
		</td>
	</tr>
</table>
<script type="text/javascript">

   
//alert("Atenção: se estiver utizando celular, mude a exibição do navegador para computador ou desktop.");

	function capture() {
		$('#target').html2canvas({
			allowTaint : true,
			onrendered: function (canvas) {
                //Defina o valor do campo oculto para dados de imagem (base-64 string)
				$('#img_val').val(canvas.toDataURL("image/png"));
                //Envie o formulário manualmente
                document.getElementById("opcao").value = "view";
				document.getElementById("myForm").submit();
			}
		});
	}
	function captureDown() {
		$('#target').html2canvas({
			allowTaint : true,
			onrendered: function (canvas) {
                //Defina o valor do campo oculto para dados de imagem (base-64 string)
				$('#img_val').val(canvas.toDataURL("image/png"));
                //Envie o formulário manualmente
                document.getElementById("opcao").value = "down";
				document.getElementById("myForm").submit();
			}
		});
	}
	
</script>

