        
        <div class="container">
           <div class="card card-stats">
			                <div class="card-header card-header-light card-header-icon">
			                
			                
			                  
			                
			                </div>
			               
			              </div>
       
          <div class="row " style="position:relative; height: 450px">
          <img style="position:absolute; width:100%; opacity:40%" src="{{URL}}/resources/assets/img/preparasantana.png">
            
            <div class="col-md-12">
            	<div class="row ml-5">
            	 
			           <div class="col-md-2">
			              <div class="card card-stats">
			                <div class="card-header card-header-warning card-header-icon">
			                  <div class="card-icon">
			                    <i class="material-icons">family_restroom</i>
			                  </div>
			              
			                  <h3 style="margin-top: 60px" class="card-title text-light">{{totalAlunos}}<br>
			                    <small>Alunos</small>
			                  </h3>
			                  
			                </div>
			              </div>
			            </div>
			            
						
			            
			            <div class="col-md-2">
			              <div class="card card-stats">
			                <div class="card-header card-header-info card-header-icon">
			                  <div class="card-icon">
			                    <i class="material-icons" style="color:green">star</i>
			                  </div>
			                 <h3 style="margin-top: 60px" class="card-title text-light">{{totalAtivos}}<br>
			                    <small>Ativos</small>
			                  </h3>
			                </div>
			               
			              </div>
			            </div>
			            
						<div class="col-md-2">
			              <div class="card card-stats">
			                <div class="card-header card-header-success card-header-icon">
			                  <div class="card-icon">
			                    <i class="material-icons" style="color:red">star</i>
			                  </div>
			                  
			                   <h3 style="margin-top: 60px" class="card-title text-light">{{totalInativos}}<br>
			                    <small>Inativos</small>
			                  </h3>
			                </div>
			                
			              </div>
			            </div>
			            
						<div class="col-md-2">
			              <div class="card card-stats">
			                <div class="card-header card-header-success card-header-icon">
			                  <div class="card-icon">
			                    <i class="material-icons">sunny</i>
			                  </div>
			                 <h3 style="margin-top: 60px" class="card-title text-light">{{totalManha}}<br>
			                    <small>Manhã</small>
			                  </h3>
			                </div>
			               
			              </div>
			            </div>
			            
						 <div class="col-md-2">
			              <div class="card card-stats">
			                <div class="card-header card-header-danger card-header-icon">
			                  <div class="card-icon">
			                    <i class="material-icons">dark_mode</i>
			                  </div>
			                   <h3 style="margin-top: 60px" class="card-title text-light">{{totalNoite}}<br>
			                    <small>Noite</small>
			                  </h3>
			                </div>
			                
			              </div>
			            </div>
			            
			             <div class="col-md-3 text-right">
			                  <a href="{{URL}}/login">
									<button style="background: #202940" type="button" class="btn btn-round btn-sm " rel="tooltip" title="Acesso ao Sistema">
									<i class="material-icons" style="font-size: 30px;">login</i>Entrar
									</button>
								</a>
			            </div>
            	
            	
            	</div>
            
            
            </div>
            
			
            
           
            
           
            
          </div>
        

            

          