        
        <div class="container">
           <div class="card card-stats">
			                <div class="card-header card-header-light card-header-icon">
			                  <div class="card-icon">
			                  	<span><img src="{{URL}}/resources/assets/img/logoCaps.png" class="mb-0"  height="80" alt="SISCAPS" style="border-radius:10px"></span>
			                    <span><img src="{{URL}}/resources/imagens/logoSiscaps.png" class="mb-0"  height="45" alt="SISCAPS" style="border-radius:10px"></span>
			                  </div>
			                 <h4 class="card-title">Sistema de Controle de Prontuários do CAPS</h4>
			                  <a href="{{URL}}/login">
									<button style="background: #202940" type="button" class="btn btn-round btn-sm " rel="tooltip" title="Acesso ao Sistema">
									<i class="material-icons" style="font-size: 30px;">login</i>Acessar
									</button>
								</a>
			                
			                </div>
			               
			              </div>
       
          <div class="row ">
          
			{{grafico1}}
            
            <div class="col-lg-6">
            	<div class="row">
            	 
			           <div class="col-lg-4">
			              <div class="card card-stats">
			                <div class="card-header card-header-warning card-header-icon">
			                  <div class="card-icon">
			                    <i class="material-icons">family_restroom</i>
			                  </div>
			              
			                  <h3 style="margin-top: 60px" class="card-title">{{totalPacientes}}<br>
			                    <small>Pacientes</small>
			                  </h3>
			                  
			                </div>
			              </div>
			            </div>
			            
						
			            
			            <div class="col-lg-4">
			              <div class="card card-stats">
			                <div class="card-header card-header-info card-header-icon">
			                  <div class="card-icon">
			                    <i class="material-icons" style="color:green">star</i>
			                  </div>
			                 <h3 style="margin-top: 60px" class="card-title">{{totalAtivos}}<br>
			                    <small>Ativos</small>
			                  </h3>
			                </div>
			               
			              </div>
			            </div>
			            
						<div class="col-lg-4">
			              <div class="card card-stats">
			                <div class="card-header card-header-success card-header-icon">
			                  <div class="card-icon">
			                    <i class="material-icons" style="color:red">star</i>
			                  </div>
			                  
			                   <h3 style="margin-top: 60px" class="card-title">{{totalInativos}}<br>
			                    <small>Inativos</small>
			                  </h3>
			                </div>
			                
			              </div>
			            </div>
			            
						<div class="col-lg-4">
			              <div class="card card-stats">
			                <div class="card-header card-header-success card-header-icon">
			                  <div class="card-icon">
			                    <i class="material-icons">local_bar</i>
			                  </div>
			                 <h3 style="margin-top: 60px" class="card-title">{{totalAd}}<br>
			                    <small>Ad Ativos</small>
			                  </h3>
			                </div>
			               
			              </div>
			            </div>
			            
						 <div class="col-lg-4">
			              <div class="card card-stats">
			                <div class="card-header card-header-danger card-header-icon">
			                  <div class="card-icon">
			                    <i class="material-icons">extension</i>
			                  </div>
			                   <h3 style="margin-top: 60px" class="card-title">{{totalTm}}<br>
			                    <small>Tm Ativos</small>
			                  </h3>
			                </div>
			                
			              </div>
			            </div>
            	
            	
            	</div>
            
            
            </div>
            
			
            
           
            
           
            
          </div>
          <div class="row">

            

          