<style>
	body{
	  overflow: hidden;
	}
</style>
        <div class="container">
           <div class="card card-stats">
                <div class="card-header card-header-light card-header-icon">
                </div>
           </div>
       
          <div class="row " style="position:relative; height: 450px">
          <img style="position:absolute; width:100%; " src="{{URL}}/resources/assets/img/preparasantana-n.png">
            <div class="col-md-12 text-right">
                 <a href="{{URL}}/login">
					<button style="background: #202940" type="button" class="btn btn-round btn-sm " rel="tooltip" title="Acesso ao Sistema">
					<i class="material-icons" style="font-size: 30px;">login</i>Entrar
					</button>
				</a>
            </div>
          </div>
         <div class="col-md-12 text-right mt-3">
				  <footer class="footer">
			       	<div class="container-fluid">
			        </div>
			     </footer>
            </div>

            

          