


<div class="container pt-5" >
	
  	<div class="row">
  		<div class="col-md-6" style="border: 2px solid #fff; border-radius: 10px">
  			<div class="row">
		 		<div class="col-md-12 text-light text-center pt-2" >
					<h5>{{title}}</h5>
					<h5>{{subtitle}}</h5>
					<h5>{{statusMessage}}</h5>
				</div>
			</div>
			
  			<div class="row" >
  				<div class="col-sm-12" >
		  			<form  method="post" onsubmit="return validarPost()" >
				      <div class="modal-body">
				        <label for="cpf">CPF do aluno:</label>
				       		<input class="form-control-pessoal mascara-cpf cpfNovo" required type="text" id="cpfAluno" name="cpfAluno" />
				       		<label>(APENAS ALUNOS QUE ESTÃO FREQUENTANDO AS AULAS)</label>
				       		<div class="row">
				      		<div class="col-sm-12 text-right">
				      		<button type="submit" class="btn btn-success btn-round " id="novoAluno" rel="tooltip" title="Confirmar">
				                OK
				              </button>
				      		</div>
				      	</div>
				      </div>
			       		<div class="row text-light justify-content-md-center">
			 				<p class="text-xs text-secondary mb-0 ml-2">&copy;2022, desenvolvido por <i class="material-icons">developer_mode</i> Fernando (96) 99115-8611</p>   		 
						</div>
				     </form> 
		    	</div>
  			</div>
  	
  		</div>
  	</div>
  	
  	
  	
  	
  	
  	
  	
</div>

    
