<!DOCTYPE html>
<html lang="pt">
  <title>{{title}}</title>
 
<head>
  <meta charset="utf-8" />
    <link rel="icon" type="image/png" href="{{URL}}/resources/assets/img/iconPrepara.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>{{title}}</title>
  
   <meta content='width=device-width, initial-scale=1.2, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
  <!-- CSS Files -->
        <!-- Bootstrap CSS   -->
  <link href="{{URL}}/resources/assets/css/material-dashboard.css?v=2.1.0" rel="stylesheet" />
    <link href="{{URL}}/resources/css/pages.css" rel="stylesheet">
    <link href="{{URL}}/resources/css/material-dashboard-personalizado.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.linearicons.com/free/1.0.0/icon-font.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css">
    <style>
        .error { border-color: #F70202; background-color:#FF6347  }
        .errorLabel {color: #fff; background-color:#D7332F; visibility: visible;}
        .esconde {visibility: hidden;}
    </style>
  <script src="{{URL}}/resources/js/photo/webcam.min.js"></script>
  <script src="{{URL}}/resources/assets/js/core/jquery.min.js"></script>
  <script src="{{URL}}/resources/js/qrcode/html5-qrcode.min.js"></script>
</head>

<body class="dark-edition">
  <div class="wrapper">
		
	  {{content}}


      
      {{footer}}


  
  </div>
  
  
  <!--   Core JS Files   -->
  <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="{{URL}}/resources/assets/js/core/jquery.min.js"></script>
  <script src="{{URL}}/resources/assets/js/core/popper.min.js"></script>
  <script src="{{URL}}/resources/assets/js/core/bootstrap-material-design.min.js"></script>
  <script src="https://unpkg.com/default-passive-events"></script>
  <script src="{{URL}}/resources/assets/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>

  <!-- Chartist JS -->
  <script src="{{URL}}/resources/assets/js/plugins/chartist.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="{{URL}}/resources/assets/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Material Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="{{URL}}/resources/assets/js/material-dashboard.js?v=2.1.0"></script>
  
   
      
    <script src="{{URL}}/resources/js/jquery.mask.js"></script>
       <script src="{{URL}}/resources/js/pages.js"></script>
   <script src="{{URL}}/resources/js/jquery.plugin.html2canvas.js"></script>
   <script src="{{URL}}/resources/js/html2canvas.js"></script>
  

</body>

</html>