<aside class="sidebar" data-color="danger" data-background-color="white">
  <div class="logo">
    <div class="d-flex px-2 py-1">
      <div class="py-2">
        <a href="{{perfilLink}}" class="sidebar-avatar-link me-3">
          <span class="sidebar-avatar">
            <img src="{{URL}}/app/Controller/File/files/fotos/{{foto}}" alt="foto">
          </span>
        </a>
      </div>
      <div class="d-flex flex-column justify-content-center px-2">
        <a href="{{perfilLink}}" class="text-dark">
          <h7 class="mb-0 text-sm px-2">{{usuarioLogado}}</h7>
        </a>
        <div class="sidebar-user-actions">
          <span class="badge badge-sm bg-gradient-success">{{tipoUsuario}}</span>
          <a href="{{URL}}/logout" class="sidebar-logout" rel="tooltip" title="Sair">
            <i class="material-icons">logout</i>
            <span>Sair</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="sidebar-wrapper">
    <ul class="nav">
      {{links}}
      {{dropdownProducao}}
      {{dropdownRelatorio}}
      {{dropdownManutencao}}
    </ul>
  </div>
</aside>
