<section id="menu">

	{{menu}}
	
	
</section>

<section id="modulo">
	
<div class="main-panel">
		{{navBar}}
    <div class="content">
        <div class="container-fluid">
        	<div class="row">
            	<div class="col">
		              <div class="card card-chart">
		                	<div class="card-body ">
		                  		
								<main>

										{{content}}

							 </main>
		          			</div>
				   {{footer}}
		        	</div>
      			</div>
    		</div>
 		</div> <!-- end container-fluid -->
	</div> <!-- end content -->
	
</div><!-- end main-panel -->





	
</section>
