<div class="attendance-photo-cell">
  <button type="button" class="student-photo-button" data-toggle="modal" data-target="#modalStudentPhoto" data-photo-src="{{URL}}/app/Controller/File/files/frequencias-auditoria/{{fotoAuditoria}}" data-photo-title="{{tituloFoto}}" rel="tooltip" title="Ampliar foto capturada">
    <img src="{{URL}}/app/Controller/File/files/frequencias-auditoria/{{fotoAuditoria}}" class="student-avatar attendance-photo-avatar" alt="Foto capturada de {{nomeFoto}}">
  </button>
  <span class="datatable-status-token">Com captura</span>
</div>
